// Main palette

$darkest-red: #672613;
$dark-red: #872f1b;
$bright-orange: #c45036;
$medium-orange: #db6c44;
$light-orange: #ef904f;
$background: #f4c688;

// Not used right now
$primaryColor: #8fbdd3;
$secondaryColor: #e4d1b9;
$accentColor: #be8c63;
$secondAccentColor: #a97155;
