@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
body {
    background-color: #f4c688;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.navbar__box {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 4rem;
}
.navbar__list {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}
.navbar__link {
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: #872f1b;
    box-shadow: 0 3px 5px #672613;
    display: flex;
}
.navbar__link a {
    color: #f4c688;
    text-decoration: none;
    font-family: Audiowide, cursive;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
}
.title__hey {
    font-size: 60px;
    font-family: Audiowide, cursive;
    color: #c45036;
}
.title__sub {
    font-family: Audiowide, cursive;
    color: #872f1b;
}

.image {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.photo {
    height: 250px;
    width: 250px;
    border: 7px solid #872f1b;
    border-radius: 30%;
}

.acknowledgement {
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.acknowledgement__text {
    display: flex;
    align-self: flex-end;
    text-align: center;
    width: 900px;
    font-family: Audiowide, cursive;
    color: #872f1b;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    body {
        background-image: url("../images/background-laptop.png");
    }
}
@media only screen and (min-width: 1440px) {
    body {
        background-image: url("../images/background.png");
    }
}
@media only screen and (max-width: 480px) {
    body {
        background-image: url("../images/background-mobile.png");
        overflow: scroll;
    }
    .acknowledgement__text {
        color: #f4c688;
        text-shadow: 2px 2px #672613;
        align-self: center;
    }
    .navbar__link {
        padding: 5px;
    }
    .title__hey {
        text-align: center;
    }
}
