@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
body {
  background-image: url("background.png");
  background-color: #f4c688;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar__box {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0px;
}
.navbar__link {
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  background-color: #872f1b;
  box-shadow: 0 3px 5px #672613;
  display: flex;
}
.navbar__link a {
  color: #f4c688;
  text-decoration: none;
  font-family: Audiowide, cursive;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title__hey {
  font-size: 60px;
  font-family: Audiowide, cursive;
  color: #c45036;
}
.title__sub {
  font-family: Audiowide, cursive;
  color: #872f1b;
}
