@use "./partials/palette";
@use "./partials/typography";
@use "./partials/mixins";

body {
    background-image: url("background.png");
    background-color: palette.$background;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

// testing new navbar styling

.navbar {
    &__box {
        max-width: 1100px;
        margin: 0 auto;

        display: flex;
        justify-content: center;
    }

    &__list {
        list-style-type: none;
        display: flex;
        padding-inline-start: 0px;
    }
    &__link {
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
        background-color: palette.$dark-red;
        box-shadow: 0 3px 5px palette.$darkest-red;
        display: flex;

        a {
            color: palette.$background;
            text-decoration: none;
            font-family: typography.$primary-font;
        }
    }
}

// .navbar {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     padding: 10px;

//     &__link {
//         background-color: palette.$dark-red;
//         border-radius: 30px;
//         font-family: typography.$primary-font;

//         :link {
//             color: palette.$background;
//             text-decoration: none;
//         }
//         :visited {
//             color: palette.$background;
//             text-decoration: none;
//         }
//     }
// }

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    &__hey {
        font-size: 60px;
        font-family: typography.$primary-font;
        color: palette.$bright-orange;
    }

    &__sub {
        font-family: typography.$primary-font;
        color: palette.$dark-red;
    }
}

.image {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.photo {
    height: 250px;
    weight: 250px;
    border: 5px solid palette.$medium-orange;
    border-radius: 40%;
}

footer {
}

.acknowledgement {
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    &__text {
        display: flex;
        align-self: center;
        text-align: center;
        width: 900px;
        @include mixins.text-styling($font-size: 15px);
    }
}
