@use "../partials/mixins";
@use "../partials/palette";
@use "../partials/typography";

.about {
    &__title {
        @include mixins.title-styling;
    }

    &__para {
        @include mixins.text-styling;
    }
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__chicken {
        padding: 10px;
        &__img {
            width: 250px;
            height: 250px;
            border-radius: 10px;
            border: 5px solid palette.$medium-orange;
        }
    }

    &__veggies {
        padding: 10px;
        &__img {
            width: 350px;
            height: 250px;
            border-radius: 10px;
            border: 5px solid palette.$medium-orange;
        }
    }

    &__cradle {
        padding: 10px;
        &__img {
            width: 350px;
            height: 250px;
            border-radius: 10px;
            border: 5px solid palette.$medium-orange;
        }
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-image: url("../images/background-mobile.png");
        overflow: scroll;
    }

    .navbar__link {
        padding: 5px;
    }

    .about__title {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .gallery {
        margin-bottom: 400px;
    }
}
