@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
body {
    font-family: Audiowide, cursive;
    font-size: 16px;
}

h2 {
    margin-bottom: 15px;
}

.container {
    height: 800px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills {
    display: flex;
    border-radius: 10px;
}
.skills__html {
    display: flex;
    align-items: flex-start;
}
.skills__html__header {
    box-shadow: 0 3px 5px #672613;
    background-color: #672613;
    color: #c45036;
    border-radius: 10px;
    padding: 10px;
}
.skills__scss {
    display: flex;
    align-items: flex-start;
}
.skills__scss__header {
    box-shadow: 0 3px 5px #672613;
    background-color: #672613;
    color: #c45036;
    border-radius: 10px;
    padding: 10px;
}
.skills__css {
    display: flex;
    align-items: flex-start;
}
.skills__css__header {
    box-shadow: 0 3px 5px #672613;
    background-color: #672613;
    color: #c45036;
    border-radius: 10px;
    padding: 10px;
}

.skills i {
    margin-right: 10px;
    color: #ef904f;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading__title {
    font-size: 60px;
    font-family: Audiowide, cursive;
    color: #c45036;
}
