@use "../partials/mixins";
@use "../partials/palette";
@use "../partials/typography";

body {
    font-family: typography.$primary-font;
    font-size: 16px;
}

h2 {
    margin-bottom: 15px;
}

.container {
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills {
    display: flex;
    border-radius: 10px;

    &__html {
        display: flex;
        align-items: flex-start;
        // create mixin for same styling? or extend?
        &__header {
            box-shadow: 0 3px 5px palette.$darkest-red;
            background-color: palette.$darkest-red;
            color: palette.$bright-orange;
            border-radius: 10px;
            padding: 10px;
        }
    }
    &__scss {
        display: flex;
        align-items: flex-start;

        &__header {
            box-shadow: 0 3px 5px palette.$darkest-red;
            background-color: palette.$darkest-red;
            color: palette.$bright-orange;
            border-radius: 10px;
            padding: 10px;
        }
    }
    &__css {
        display: flex;
        align-items: flex-start;

        &__header {
            box-shadow: 0 3px 5px palette.$darkest-red;
            background-color: palette.$darkest-red;
            color: palette.$bright-orange;
            border-radius: 10px;
            padding: 10px;
        }
    }
}

.skills i {
    margin-right: 10px;
    color: palette.$light-orange;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 60px;
        font-family: typography.$primary-font;
        color: palette.$bright-orange;
    }
}

@media only screen and (max-width: 480px) {
    .navbar__link {
        padding: 5px;
    }
}
